.text-primary{
  color: var(--primary) !important;
}

.text-secondary{
  color: var(--secondary) !important;
}

.text-white{
  color: white !important;
}

.clickable{
  cursor:pointer;
}

.select-section{
  min-height: 400px;
  padding:100px;
}

.select-card{
 height: 200px;
 padding:30px;
 font-size: 30px;
 margin-bottom: 20px;
 background: #ff7518;
 color: white;
 font-weight: bold;
}

.select-card:hover{
  cursor: pointer;
  background: #f98c43;
}

.select-link{
 margin: 20px;
}

.btn-schedule{
  padding: 10px !important;
  margin-left: 10px;
  color: white !important;
}

.card-process{
  height:380px !important;
  padding: 20px 50px !important;
}

.card-process .dark{
  height:380px !important;
}

.bg-primary{
  background: #ff7518 !important;
}
.bg-secondary{
  background: #0a2342 !important;
}


.member-info img{
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.pmva-hero{
  width:100%;
}


/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing .box h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary) !important;
  background: var(--secondary)!important;
}

.pricing .box h4 {
  font-size: 36px;
  margin: -20px -20px 20px -20px;
  padding: 20px;
  color: white !important;
  background: var(--primary);
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
}


.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
  color: var(--primary);
  font-weight: bold;
}


.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: var(--primary);
  text-align: center;
}

.pricing .btn-buy {
  background: var(--secondary);
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: var(--primary);
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #3b8af2;
}

.pricing .featured h3 {
  color: #fff;
  background: var(--primary);
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: var(--primary);
  color: #fff;
}
